<mat-card class="dental-services-container">
  <mat-card-header>

  <div class="page-title">
    <h1>Dental Services</h1>
  </div>
  </mat-card-header>
  <mat-card-content>
    @if (dentalServices(); as ds){
      @if (ds.length === 0) {
        <p>No dental services found.</p>
      } @else {
        <app-generic-data-table
          [columnDefs]="dentalServicesColumns"
          [data]="ds"
          [pageSize]="20"
          [pageSizeOptions]="[10, 20,25, 50, 100]"
          (rowClicked)="openRowDialog($event)"
        />
      }

    } @else {
      <p>Loading...</p>
    }
  </mat-card-content>
</mat-card>
