<div class="toolbar" [formGroup]="form">
  <mat-form-field appearance="outline" class="q">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search all columns..." formControlName="q"/>
    <button mat-icon-button matSuffix type="button" (click)="clearSearch()" *ngIf="form.value.q">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <ng-container formGroupName="filters">
    <mat-form-field appearance="outline" class="filter" *ngFor="let key of filterSelectKeys">
      <mat-label>{{ key | titlecase }}</mat-label>
      <mat-select [formControlName]="key">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let opt of filterOptions[key]" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="outline" class="filter">
    <mat-label>Sort by</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let col of columnDefs" [value]="col.key">
        {{ col.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">

    <button mat-stroked-button type="button"
            (click)="form.patchValue({ sortDir: 'asc' })"
            [disabled]="form.value.sortDir === 'asc'">
      Asc
    </button>
    <button mat-stroked-button type="button"
            (click)="form.patchValue({ sortDir: 'desc' })"
            [disabled]="form.value.sortDir === 'desc'">
      Desc
    </button>


    <button mat-flat-button type="button" color="warn" (click)="resetAll()">Reset</button>

    <span class="spacer"></span>
        <button mat-flat-button color="primary" type="button" > <mat-icon>add</mat-icon>
          Add
        </button>
  </div>
<!--  End of class="btn-group"-->
</div>

<div class="table-wrap">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
    @for (col of columnDefs; track col.key) {

      <ng-container [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="col.sortable === false">
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container
            [ngTemplateOutlet]="getCellTemplate(col)"
            [ngTemplateOutletContext]="{$implicit: row, col: col}">
          </ng-container>

        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="clickable-row"
        (click)="onRowClicked(row)"
        tabindex="0">

    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No matching records found.
      </td>
    </tr>
  </table>

  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons/>
</div>

<!-------------------->
<!--Default Template-->
<!-------------------->
<ng-template #defaultCell let-row let-col="col">
  {{ row[col.key] }}
</ng-template>

<!-------------------->
<!----Date Template--->
<!-------------------->
<ng-template #dateCell let-row let-col="col">
  {{ toDate(row[col.key]) | date:'MMM d, y, h:mm a' }}
</ng-template>

<!-------------------->
<!---Chips Template--->
<!-------------------->
<ng-template #chipsCell let-row let-col="col">
  <mat-chip-set class="tag-set" aria-label="Tags">
    @for (tag of (row[col.key] ?? []); track tag) {
      <mat-chip
        class="tag-chip"
        [ngClass]="chipClass(tag)"
        (click)="$event.stopPropagation()">
        {{ tag }}
      </mat-chip>
    }
  </mat-chip-set>
</ng-template>
