<mat-card class="ml-card">
    <mat-card-header>
        <mat-card-title>Master List</mat-card-title>
        <mat-card-subtitle>
            Upload a Master List if HMO expects it.
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="ml-body">
        @if (!enabled) {
            <p class="muted">This HMO does not issue a master list.</p>
        }
        @else if(!hasValidEndorsementId()){
            <p class="muted"> Please save endorsement first before uploading a master list.</p>
        } @else {
            @if (existing) {
                <div class="existing">
                    <div class="existing-meta">
                        <div class="row"><span class="k">Last File uploaded:</span> <span class="v">{{ existing.last_file_uploaded}}</span></div>
                        <div class="row"><span class="k">Total count:</span> <span class="v">{{ existing.total_rows }}</span></div>
                        <div class="row"><span class="k">Last Upload date:</span> <span class="v">{{ existing.uploaded_at|date:'MMM dd, yyyy HH:mm' }}</span></div>
                        <div class="row"><span class="k">By:</span> <span class="v">{{ existing.uploaded_by }}</span></div>
                    </div>

                    <div class="existing-actions">
                        <button mat-stroked-button type="button" (click)="viewExisting()">
                            View Existing
                        </button>
                        <button mat-stroked-button color="warn" type="button" (click)="removeExisting()">
                            Delete All
                        </button>
                    </div>
                </div>

                <mat-divider></mat-divider>
            }

            @if (!existing){
                <div class="upload-row">
                    <input #fileInput type="file" accept=".xlsx,.xls" hidden (change)="onPickFile(fileInput)" />

                    <button mat-raised-button type="button" (click)="fileInput.click()">
                        <mat-icon>upload</mat-icon>
                        Upload Excel
                    </button>

                    <span class="hint">.xlsx recommended</span>
                </div>


            }
            @if (ui() === 'uploading' || ui() === 'saving') {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }

            @if (errorMsg()) {
                <p class="error">{{ errorMsg() }}</p>
            }

        }
    </mat-card-content>
</mat-card>
