.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 360px;
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
