<div class="services-actions">
    <button mat-stroked-button type="button" (click)="reserveAllBasic()">
        Reserve all basic
    </button>

    @if (Object.keys(selectedQuantities()).length > 0) {
        <button mat-button type="button" (click)="clearAll()">
            Clear
        </button>
    }
</div>

<div class="services-list">
    @for (column of serviceColumns; track $index) {
        <div class="services-column">
            @for (service of column; track service.dental_service_id) {
                <div class="service-row">
                    <mat-checkbox
                        [checked]="isChecked(service.dental_service_id)"
                        [disabled]="isDisabled(service)"
                        (change)="onToggle(service, $event.checked)">
                        {{ labelFor(service) }}
                    </mat-checkbox>

                    @if (isRepeatable(service) && isChecked(service.dental_service_id)) {
                        <div class="service-quantity-controls">
                            <button
                                mat-stroked-button
                                type="button"
                                [disabled]="!canDecrement(service)"
                                (click)="decrementQuantity(service)">
                                -
                            </button>

                            <span class="service-quantity">
                {{ getQuantity(service.dental_service_id) }}
            </span>

                            <button
                                mat-stroked-button
                                type="button"
                                [disabled]="!canIncrement(service)"
                                (click)="incrementQuantity(service)">
                                +
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
